/* box-sizing: border-box universal style */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* Global Styles */
html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Open Sans';
    color: white;
    min-height: 100%;
}

.navbar {
    position: relative;
    padding: 0.5rem;
    background-color: rgba(101,18,95,0.5); /* Adds  opacity*/
    z-index: 1; /*Adds a third dimesnsion to the placement of elements. By adding a z-index the layering of elements is specified. In this situation the navbar will be displayed on top of anything = layer 1*/
}

.navbar > .logo {
    position: relative;
    left: 2rem;
    cursor: pointer; /* produces the finger-pointer icon when you hover over the logo */
}
.navbar .links-container {
    display: table;
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    color: white;
    text-decoration: none;
}
.links-container .navbar-link {
    display: table-cell;
    position: relative;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle; /*Centers vertiacally the element of the cell*/
    color: white;
    font-size: 0.625rem;
    letter-spacing: 0.05rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.links-container .navbar-link:active{
    background-color: white;
    color: rgb(233, 50, 117);
}

.links-container .navbar-link:hover {
     color: rgb(233,50,117);
 }



.container {
    /*Margin and max-width set the max the page can extend*/
    margin: 0 auto;
    max-width: 64rem;
    /*Recall that the second argument of the margin shorthand determines the size of the margin on the left and right side of the element whenever there are only two arguments given. When a width is "fixed" (meaning there is a width or max-width defined), setting the left and right margins to auto will center the element.*/
}

.container.narrow {
    max-width: 56rem;
}

/* Medium and small screeens (640px) */
@media (min-width: 640px) {
    /* Styles infromation go here */
    html {
        font-size: 112%;
    }
    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth {width: 25%; }
    .column.flow-opposite { float: right; }
}

/* Large screens (1024px) */

@media (min-width: 1024px) {
    /* Styles information go here*/
    html {
        font-size: 120%;
    }
}

/*Clearfi classes with pseudo selectors*/

.clearfix::before .clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}
